.App{
    text-align: center;
}




.logo{
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

.eth{
    width: 27px;
    height: 27px;
    padding-right : 40px;;
}
.header{
  
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;

}
.leftSide{
    display: flex;
    align-items: center;
    gap : 30 px;

}
.headerItem{
    display: flex;
    align-items: center;
    font-weight: 500;
     padding : 10px;
     padding-left: 15px;
     padding-right: 15px;
     transition: 0.3s;
     border-radius: 5px;


}


.headerItem:hover{
    background-color: rgb(34,42,58);
    cursor: pointer;
}
.connectButton{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
     border-radius: 100px;
     background-color: #243056;
     color: #5981F3;
     transition: 0.3s;
     font-weight: bold;

}

.connectButton:hover{
       cursor:pointer;
       color: #3b4874  
       

}
.rightSide{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}